 @using EvictionFiler.Application.DTOs
@using EvictionFiler.Application.DTOs.FirmDtos
@using EvictionFiler.Application.DTOs.UserDto
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Application.Services
@using EvictionFiler.Client.SpinnerService
@using System.Linq.Expressions
@inject SpinnerService spinnerservice
@inject IFirmService FirmService
@inject IJSRuntime JS
@inject IUserservices _userService

<style>
    .offcanvas.show {
    transform: translateX(0%);
    }

    .offcanvas {
    transform: translateX(100%);
    width : 500px !important;
    }
    .color-text{
    color: #1F365D;
    }
    .btn-lg
    {
        font-family:'Poppins';
        font-size:14px;
    }
    .btn-add
    {
         padding: 0.375rem 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width:45px;
    }

</style>
<div class="offcanvas offcanvas-end show border-start shadow" tabindex="-1" id="createUser"
style="visibility:@(IsVisible ? "visible" : "hidden"); transition: transform 0.9s ease-in-out;"
aria-labelledby="createUserLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createUserLabel">Add New User</h5>
        <button type="button" class="btn-close text-reset" @onclick="Hide"></button>
    </div>

    <div class="offcanvas-body">
        <EditForm EditContext="_editContext" OnValidSubmit="SubmitUser" FormName="CreateUser">
            <DataAnnotationsValidator />
           

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label color-text">First Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.FirstName"
                                   @bind-Value:after=@(() => ValidateParticularInput(() => registerDto.FirstName, nameof(registerDto.FirstName), "First Name is required.")) placeholder ="Enter First Name" />
                        <ValidationMessage For="() => registerDto.FirstName" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label color-text">Last Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.LastName" placeholder="Enter Last Name" />
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label color-text">Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-regular fa-at color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.Email"
                                   @bind-Value:after=@(() => ValidateParticularInput(() => registerDto.Email, nameof(registerDto.Email), "Email is required.")) placeholder ="Enter Email" />
                        <ValidationMessage For="() => registerDto.Email" />
                    </div>
                </div>
            </div>
            @* <div class="mb-4">
                <label class="form-label color-text">Role</label>
                <select class="form-select" @bind="registerDto.Role">
                    <option disabled selected value="">-- Select --</option>
                    <option>Admin</option>
                    <option>Client</option>
                    <option>Staff Member</option>

                </select>
            </div> *@
           
            <div class="mb-4">
                
                <label class="form-label color-text">Firm<span class="text-danger">*</span></label>
                <div class=" d-flex align-items-center gap-2">
                    <div>
                <select class="form-select" style="min-width:320px;" @bind="registerDto.FirmId"
                @bind:after=@(() => ValidateParticularInput(() => registerDto.FirmId, nameof(registerDto.FirmId), "Firm is required.")) >
                    <option disabled selected value="">-- Select --</option>
                    @if (allFirms != null && allFirms.Any())
                    {
                        @foreach (var firm in allFirms)
                        {
                            <option value="@firm.Id">@firm.Name</option>
                    }
                    }
                    
                </select>
                        <ValidationMessage For="() => registerDto.FirmId" />
                </div>
                
                <button type="button" class="btn btn-primary btn-lg btn-add" @onclick="AddFirm">
                    <i class="fa-solid fa-plus"></i></button>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </EditForm>
        <AddNewFirm @ref="createFirmRef" Submit="Handle" />
    </div>
</div>


@code {
    [Parameter] public RegisterDto registerDto { get; set; } = new RegisterDto();
    [Parameter] public EventCallback<RegisterDto> Submit { get; set; }
    private IEnumerable<FirmDto> allFirms = new List<FirmDto>();
    private AddNewFirm createFirmRef;
    private ValidationMessageStore messageStore;
    private EditContext _editContext;
    private bool IsVisible { get; set; } = false;

    protected override void OnParametersSet()
    {
        _editContext = new EditContext(registerDto);
        messageStore = new ValidationMessageStore(_editContext);
    }

    public async  Task Show(RegisterDto model)
    {
        registerDto = model;

        _editContext = new EditContext(registerDto);        
        messageStore = new ValidationMessageStore(_editContext);
        IsVisible = true;
        await GetAllFirm();
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
    private async Task GetAllFirm()
    {
        var firm = await FirmService.GetAllFirms();
        allFirms = firm.OrderBy(f => f.Name).ToList();

    }
    private void AddFirm()
    {
        var modal = new FirmDto();
        createFirmRef.Show(modal);

    }   
    private CancellationTokenSource _cts;
    public async Task Handle()
    {
        _cts?.Cancel(); // cancel previous call
        _cts = new CancellationTokenSource();
        var token = _cts.Token;
        await Task.Delay(1000, token);
        createFirmRef.Hide();

       await GetAllFirm();

        StateHasChanged();
    }
    private Task ValidateParticularInput<T>(Expression<Func<T>> accessor, string fieldName, string validationMsg)
    {
        Require(accessor, fieldName, validationMsg);
        _editContext.NotifyValidationStateChanged();
        return Task.CompletedTask;
    }
    private async Task<bool> ValidateCurrentStep()
    {
        messageStore.Clear();

     
            Require(() => registerDto.FirstName, nameof(registerDto.FirstName), "First Name is required.");
            
            Require(() => registerDto.Email, nameof(registerDto.Email), "Email is required.");
        Require(() => registerDto.FirmId, nameof(registerDto.FirmId), "Firm is required.");
      




        _editContext.NotifyValidationStateChanged();

        
        var errors = _editContext.GetValidationMessages().ToList();
        Console.WriteLine($"Validation errors : {string.Join(", ", errors)}");

       
        bool isValid = !_editContext.GetValidationMessages().Any();

        
        return isValid;
    }
    private void Require<T>(Expression<Func<T>> accessor, string fieldName, string message)
    {
        var value = accessor.Compile().Invoke();
        var fieldIdentifier = new FieldIdentifier(registerDto, fieldName);

        // Clear old message first
        messageStore.Clear(fieldIdentifier);

        // Add message if invalid
        bool isEmpty = value == null ||
                       (value is string s && string.IsNullOrWhiteSpace(s)) ||
                       (value is Guid g && g == Guid.Empty);

        if (isEmpty)
        {
            messageStore.Add(fieldIdentifier, message);
        }

        _editContext.NotifyValidationStateChanged();
    }

    public async Task SubmitUser()
    {
        if(ValidateCurrentStep().Result == false)
        {
            return;
        }
        spinnerservice.Show();
       
        registerDto.Password = "Abcd@1234";
        var result = await _userService.RegisterTenantAsync(registerDto); 
        if (result)
        {
            await Submit.InvokeAsync(); 
            Hide();
        }
        spinnerservice.Hide();
    }
}

