html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

.page-scroll-container {
    min-height: 100vh; /* take at least full viewport height */
    overflow-y: auto; /* enable vertical scroll when needed */
    padding: 2rem;
    /*background-color: #f8f9fa;*/ /* optional light background */
    box-sizing: border-box;
}
