@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EvictionFiler.Client.SpinnerService
@inject SpinnerService SpinnerService

@inherits LayoutComponentBase
<style>
    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }

    .app-container {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .main-content {
        flex-grow: 1;
        padding: 4px;
        min-height: 100vh;
        /*transition: margin-left 0.3s ease;*/
        /*position: relative;*/
        overflow: auto;
        /*    background: #F7F7F7;*/
    }

    .custom-title {
        position: absolute;
        top: 33px;
        width: 186px;
        height: 27px;
        /*font-family: 'Montserrat', sans-serif;*/
        font-weight: 600;
        font-size: 22px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
    }

    .spinnerContainer {
        position: fixed !important;
        z-index: 500000 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        right: 0 !important;
        background-color: #00000017 !important;
        margin-top: 8px !important;
        user-select: none !important;
    }

    .spinnerIcon {
        width: 60px !important;
        height: 60px !important;
        /*   border-width: 0.4em; /* Default is 0.25em */
        color: #020336;
    }
</style>
<style>
    .rz-inputtext {
        box-shadow: none !important;
        min-height: 44px;
        border-radius: 12px !important;
        font-size: 16px !important;
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: none;
    }
</style>
<div class="app-container">
    @if (showSpinner)
    {
        <div class="spinnerContainer">
            <div class="text-center">
                <div class="spinner-border spinnerIcon" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-2 text-dark">Loading...</p>
            </div>
        </div>
    }

    <SideMenu IsHideMenu="true" />



    <div class="main-content" style="@(showSpinner ? "opacity: 0.4;" : "opacity: 1;")">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                successClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorClass="fa fa-bug" />



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private bool showSpinner = false;

    protected override void OnInitialized()
    {
        SpinnerService.OnShow += Show;
        SpinnerService.OnHide += Hide;
    }

    private void Show()
    {
        showSpinner = true;
        InvokeAsync(StateHasChanged);
    }

    private void Hide()
    {
        showSpinner = false;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SpinnerService.OnShow -= Show;
        SpinnerService.OnHide -= Hide;
    }
}
