<div class="p-3 border rounded-4 shadow bg-white mb-3">
    <h6 class="fw-bold text-muted">Live Summary</h6>
    <div class="d-flex flex-column mt-3 text-secondary small">
        <div class="d-flex justify-content-between">
            <span>Landlord</span><span>LL</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Phone</span><span>555-555-5555</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Tenant</span><span>xxx</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Case</span><span>Holdover</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Monthly Rent</span><span>333</span>
        </div>
    </div>
</div>

@code {

}
