 @using EvictionFiler.Application.DTOs
@inject IJSRuntime JS
<style>
    .offcanvas.show {
        transform: translateX(0%);
    }

    .offcanvas {
        transform: translateX(100%);
        width: 500px !important;
    }

    .color-text {
        color: #1F365D;
    }

</style>
<div class="offcanvas offcanvas-end show border-start shadow" tabindex="-1" id="createClient"
     style="visibility:@(IsVisible ? "visible" : "hidden"); transition: transform 0.9s ease-in-out;"
     aria-labelledby="createUserLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createUserLabel">Add New User</h5>
        <button type="button" class="btn-close text-reset" @onclick="Hide"></button>
    </div>

    <div class="offcanvas-body">
        <EditForm Model="@registerDto" OnValidSubmit="SubmitUser" FormName="CreateClient">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label color-text">Client Code</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.FirstName" placeholder="Enter Client First Name" />
                    </div>
                </div>

               
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label color-text">Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.FirstName" placeholder="Enter Client First Name" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label color-text">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.LastName" placeholder="Enter Emaill" />
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label color-text">Address Line 1</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-regular fa-at color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.Email" placeholder="Address Line 2" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label color-text">Address Line 2</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-regular fa-at color-text"></i></span>
                        <InputText class="form-control" @bind-Value="registerDto.Email" placeholder="Address Line 2" />
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label color-text">Role</label>
                <select class="form-select" @bind="registerDto.Role">
                    <option disabled selected value="">-- Select a Role --</option>
                    <option>Law Firm</option>
                    <option>Property Manager</option>
                </select>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    [Parameter] public RegisterDto registerDto { get; set; } = new RegisterDto();
    [Parameter] public EventCallback<RegisterDto> Submit { get; set; }

    private bool IsVisible { get; set; } = false;

    public void Show(RegisterDto model)
    {
        registerDto = model;
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public async Task SubmitUser()
    {
        await Submit.InvokeAsync(registerDto); // calls your database method in parent
        Hide();
    }
}

