@code {
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }

    private string? Role;
    private string? CaseType;


    public async Task HandleNext()
    {
       await OnSave.InvokeAsync(null);
    }

    public async Task SaveDraft()
    {
        await OnSave.InvokeAsync(null);
    }

}

<div class="form-group">
    <label>Client Role:</label>
    <InputSelect @bind-Value="Role" class="form-control">
        <option value="">-- Select Role --</option>
        <option>Landlord/Owner</option>
        <option>Tenant/Occupant</option>
        <option>Property Manager</option>
        <option>Legal Representative</option>
    </InputSelect>
</div>

<div class="form-group">
    <label>Case Type:</label>
    <InputSelect @bind-Value="CaseType" class="form-control">
        <option value="">-- Select Type --</option>
        <option>Nonpayment</option>
        <option>Holdover</option>
        <option>Lockout</option>
        <option>Succession</option>
        <option>HP Action</option>
    </InputSelect>
</div>

<div class="mt-4 d-flex justify-content-between">
    <button class="btn btn-secondary" @onclick="SaveDraft">Save as Draft</button>
    <button class="btn btn-primary" @onclick="HandleNext">Next</button>
</div>
