@using EvictionFiler.Application.DTOs
@using EvictionFiler.Application.DTOs.UserDto
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Client.SpinnerService
@using System.Linq.Expressions
@inject SpinnerService spinnerservice
@inject IJSRuntime JS
@inject IUserservices _userService

<style>
    .offcanvas.show {
        transform: translateX(0%);
    }

    .offcanvas {
        transform: translateX(100%);
        width: 500px !important;
    }

    .color-text {
        color: #1F365D;
    }

    .btn-lg {
        font-family: 'Poppins';
        font-size: 14px;
    }

    .input-group-text {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .required-label::after {
        content: " *";
        color: red;
    }

</style>
<div class="offcanvas offcanvas-end show border-start shadow" tabindex="-1" id="createUser"
     style="visibility:@(IsVisible ? "visible" : "hidden"); transition: transform 0.9s ease-in-out;"
     aria-labelledby="createUserLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createUserLabel">Add New Staff Member</h5>
        <button type="button" class="btn-close text-reset" @onclick="Hide"></button>
    </div>

    <div class="offcanvas-body">
        <EditForm EditContext="_editContext" FormName="CreateUser">
            <DataAnnotationsValidator />

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label required-label color-text">First Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-input" style="width:91%" @bind-Value="registerDto.FirstName"
                                   @bind-Value:after=@(() => ValidateParticularInput(() => registerDto.FirstName, nameof(registerDto.FirstName), "First Name is Required.")) 

                        placeholder="Enter First Name" />
                        <ValidationMessage For="() => registerDto.FirstName" />

                    </div>
                </div>

               
            </div>
            <div class="row mb-3">
               

                <div class="col-md-12">
                    <label class="form-label required-label color-text">Last Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-input" style="width:91%" @bind-Value="registerDto.LastName"
                                   @bind-Value:after=@(() => ValidateParticularInput(() => registerDto.LastName, nameof(registerDto.LastName), "Last Name is Required."))
                                   placeholder="Enter Last Name" />
                        <ValidationMessage For="() => registerDto.LastName" />

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label required-label color-text">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-regular fa-at color-text"></i></span>
                        <InputText class="form-input" style="width:91%" @bind-Value="registerDto.Email"
                                   @bind-Value:after=@(() => ValidateParticularInput(() => registerDto.Email, nameof(registerDto.Email), "Email is Required."))
                                   placeholder="Enter Email" />
                        <ValidationMessage For="() => registerDto.Email" />

                    </div>
                </div>
            </div>

            @* <div class="mb-4">
                <label class="form-label color-text">Role</label>
                <select class="form-select form-input" @bind="registerDto.Role" >
                    <option selected Value="Staff Member">Staff Member</option>
                </select>
            </div> *@

            <div class="d-flex justify-content-end" >
                <button type="submit" class="btn btn-primary btn-lg" @onclick="SubmitUser">Submit</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    [Parameter] public RegisterDto registerDto { get; set; } = new RegisterDto();
    [Parameter] public EventCallback<RegisterDto> Submit { get; set; }
    private ValidationMessageStore messageStore;
    private EditContext _editContext;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(registerDto);
        messageStore = new ValidationMessageStore(_editContext);

    }
    private bool IsVisible { get; set; } = false;

    public void Show(RegisterDto model, Guid FirmID)
    {
        registerDto = model;
        registerDto.FirmId = FirmID;
        registerDto.Role = "Staff Member";
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
    private Task ValidateParticularInput<T>(Expression<Func<T>> accessor, string fieldName, string validationMsg)
    {
        Require(accessor, fieldName, validationMsg);
        _editContext.NotifyValidationStateChanged();
        return Task.CompletedTask;
    }
    private async Task<bool> ValidateCurrentStep()
    {
        messageStore.Clear();


        Require(() => registerDto.FirstName, nameof(registerDto.FirstName), "First Name is required.");
        Require(() => registerDto.LastName, nameof(registerDto.LastName), "Last Name is required.");
        Require(() => registerDto.Email, nameof(registerDto.Email), "Email is required.");



        //Require(() => legalcaseDto.CourtLocationId, nameof(legalcaseDto.CourtLocationId), "Court Location is required");
        // Require(() => legalcaseDto.DateNoticeServed, nameof(legalcaseDto.DateNoticeServed), "Notice Serve Date required");



        _editContext.NotifyValidationStateChanged();

        // Get current validation messages (optional: for logging)
        var errors = _editContext.GetValidationMessages().ToList();
        Console.WriteLine($"Validation errors : {string.Join(", ", errors)}");

        // Check if form is valid
        bool isValid = !_editContext.GetValidationMessages().Any();

        // Return validity
        return isValid;
    }
    private void Require<T>(Expression<Func<T>> accessor, string fieldName, string message)
    {
        var value = accessor.Compile().Invoke();
        var fieldIdentifier = new FieldIdentifier(registerDto, fieldName);

        // Clear old message first
        messageStore.Clear(fieldIdentifier);

        // Add message if invalid
        bool isEmpty = value == null ||
                       (value is string s && string.IsNullOrWhiteSpace(s)) ||
                       (value is Guid g && g == Guid.Empty);

        if (isEmpty)
        {
            messageStore.Add(fieldIdentifier, message);
        }

        _editContext.NotifyValidationStateChanged();
    }

    public async Task SubmitUser()
    {
        if (!await ValidateCurrentStep()) return;
        spinnerservice.Show();
        if(registerDto.Id == null || registerDto.Id == Guid.Empty)
        {
            registerDto.Password = "Abcd@1234";
            var result = await _userService.RegisterTenantAsync(registerDto);
            if (result)
            {
                await Submit.InvokeAsync();
                Hide();
            }
        }
        else
        {
            var result = await _userService.UpdateUserAsync(registerDto);
            if (result)
            {
                await Submit.InvokeAsync();
                Hide();
            }
        }
        spinnerservice.Hide();
    }
}

